body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: darkslategray;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
}

.slot {
    padding: 0;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.lock {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

#spinner {
    text-transform: uppercase;
}