@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

body {
    background: #333;
}

#canvas-game {
    position: absolute;
    background: black;
    width: 800;
    height: 600;
    user-select: none;
    z-index: 0;
}
#canvas-menu {
    position: absolute;
    background: black;
    width: 800;
    height: 600;
    user-select: none;
    z-index: 1;
    background-color: transparent;
}

.canvas-stack {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}





