html, body {
    margin:0px;
  }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    height:100vh;

}

#info {
    font-size: 2em;
    color: aliceblue;
    line-height: 5vh;
}