* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

button {
  margin: 1rem;
  font-size: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    flex-grow: 1;
}

#info {
    font-size: 2em;
    color: aliceblue;
    line-height: 5vh;
    margin: 2.5vh;
}

#input-field-container > input {
  margin: 1rem;
  font-size: 2rem;
}