body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-output-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-basis: 65%;
    background-color: silver;
}

#word-display {
    font-size: 4rem;
}

#timer {
    font-size: 3rem;
}

.total-keys {
    font-size: 2.5rem;
}

#key-amount {
    font-size: 2rem;
}

#correct-keys {
    margin: 0;
    font-size: 2rem;
    color: green;
}
#incorrect-keys {
    margin: 0;
    font-size: 2rem;
    color: red;
}

#next-word{
    font-size: 2rem;
}

.word-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
    background-color: slateblue;
}

#word-input {
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

#submit-word {
    margin: 0.5rem;
    font-size: 2rem;
}