body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222222;

}

#scores {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 30vh;
    align-items: center;
    background-color: #0d4d61;
    color: white;
    border-bottom: 0.5rem solid #000000;

}

#scores p {
    margin: 2rem;
}

.game-container {
    flex-basis: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.game-container button {
    background-color: rgb(0, 255, 0);
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0.25rem solid;
}